<footer class="footer">
  <div class="container footer_grid">
    <nav class="nav--footer">
      <a class="nav_items nav_items--footer" href="">Inicio</a>
      <a class="nav_items nav_items--footer" href="">Sobre mi</a>
      <a class="nav_items nav_items--footer" href="">Mis Skills</a>
      <a class="nav_items nav_items--footer" href="">Proyectos</a>
    </nav>

    <section class="footer_contact">
      <h3 class="footer_titulo">Contactame</h3>
      <div class="footer_icons">
        <span class="footer_container_icons">
          <a href="#"><i class="fa-brands fa-whatsapp footer_ico"></i></a>
        </span>

        <span class="footer_container_icons">
          <a href="#"><i class="fa-brands fa-twitter footer_ico"></i></a>
        </span>

        <span class="footer_container_icons">
          <a href="#"><i class="fa-brands fa-facebook footer_ico"></i></a>
        </span>

        <span class="footer_container_icons">
          <a href="#"><i class="fa-brands fa-instagram-square footer_ico"></i></a>
        </span>
      </div>

    </section>




</div>
</footer>
