<header class="hero">
  <div class="container">
    <nav>
      <a class="nav_items nav_items--cta" href="">Contactame ahora</a>
      <a class="nav_items" href="">Sobre mi</a>
      <a class="nav_items" href="">Proyectos</a>
    </nav>
    <section class="hero_container">

      <div class="hero__text">
        <h1 class="hero_titulo">Hola soy Alvaro Nieto</h1>
        <h2 class="hero_subtitulo ">Transformando ideas a realidades</h2>
        <a class="hero_cta" href="#">Contactame ahora</a>
      </div>

    </section>
  </div>
  <div class="hero_wave" style=" overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
</header>
